<!--footer starts from here-->
<footer class="footer">
    <div class="container bottom_border">
    <div class="row">
    <div class=" col-sm-4 col-md col-sm-4  col-12 col">
    <img class="mt-5 mb-5" src="assets/img/toti-logo2.png" id="icon" alt="User Icon" />
    </div>
    <div class=" col-sm-4 col-md  col-12 col">
        <h5 class="headin5_amrc col_white_amrc pt2">Quem Somos</h5>
        <p class="mb10">Toti é uma plataforma de ensino que forma refugiados e imigrantes através de um curso preparado para atender as demandas das empresas.
            Nosso propósito é inspirar a mudança na vida de refugiados, conectando educação, tecnologia e diversidade.</p>
        <p></p>
    </div>
    </div>
    </div>
    
    
    <div class="container">
    <ul class="foote_bottom_ul_amrc">
    <li><a href="/home" >HOME</a></li>
    <li><a href="/registro" >CADASTRO</a></li>
    <li><a href="/login" >LOGIN</a></li>
    
    </ul>
    <!--foote_bottom_ul_amrc ends here-->
    <p class="text-center"> Designed With by <a href="#">TurmaBatata</a> 
        <br>Copyright @2021 </p>
                <p class="text-center">CNPJ: 30.849.994/0001-86</p>
    <ul class="mt-3 social_footer_ul d-flex justify-content-center">
    <li><a href="https://www.instagram.com/toti.diversidade" target="_blank" rel="noopener"> <img class="icon1" src="assets/img/instagram.png" alt="icon github"></a></li>
    <li><a href="https://www.facebook.com/toti.diversidade/" target="_blank" rel="noopener"> <img class="icon1" src="assets/img/fb.png" alt="icon FB "></a></li>
    <li><a href="https://www.linkedin.com/school/toti-diversidade" target="_blank" rel="noopener"> <img class="icon1" src="assets/img/linkedin.png" alt="icon linkedin"></a></li>
    <li><a href="mailto:contato@totidiversidade.com.br?Subject=Gostaria%20de%20receber%20mais%20informações" target="_blank" rel="noopener"> <img class="icon1" src="assets/img/emal-icon.png" alt="icon email"></a></li>
</ul>
    </div>
    
    </footer>
