 <!-- Footer -->
 <section id="footer">
    <div class="container">
        <div class="row text-center text-xs-center text-sm-left text-md-left">
    <div class=" col-sm-4 col-md col-sm-4  col-12 col">
      <div class=" col-sm-4 col-md col-sm-4  col-12 col">
        <img class="mt-2 mb-5" src="assets/img/toti-logo2.png" id="icon" alt="User Icon" />
        </div>

            </div>
    <div class=" col-sm-4 col-md  col-12 col">
                <h5>Quem Somos</h5>
      <p class="mb10">Toti é uma plataforma de ensino que forma refugiados e imigrantes através de um curso preparado para atender as demandas das empresas.
        Nosso propósito é inspirar a mudança na vida de refugiados, conectando educação, tecnologia e diversidade.</p>
            </div>
            
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2">
                <ul class="list-unstyled list-inline social text-center">
                    <li class="list-inline-item"><a href="https://www.instagram.com/toti.diversidade"><i class="bi bi-instagram bi-lg"></i></a></li>
                    <li class="list-inline-item"><a href="https://www.facebook.com/toti.diversidade/"><i class="bi bi-facebook"></i></a></li>
                    <li class="list-inline-item"><a href="https://www.linkedin.com/school/toti-diversidade"><i class="bi bi-linkedin"></i></a></li>
                    <li class="list-inline-item"><a href="mailto:contato@totidiversidade.com.br?Subject=Gostaria%20de%20receber%20mais%20informações"><i class="bi bi-envelope"></i></a></li>
                </ul>
            </div>
            <hr>
        </div>	
        
            <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
      <p class="text-center"> Designed With by <a href="#">TurmaBatata</a> 
      <br>Copyright @2021 </p>
                <a class="text-green ml-2" href="https://totidiversidade.com.br/" target="_blank">Toti Diversidade</a>
      <p class="text-center">CNPJ: 30.849.994/0001-86</p>
            </div>
        </div>	
</section>
<!-- ./Footer -->