<app-header></app-header>


  <div class="container">
    <div class="row">
 
      <div class="col">
        <div class="e-tabs mb-3 px-3">
          <ul class="nav nav-tabs">
            <li class="nav-item"><a class="nav-link active" href="#">Dashboard Usuarios</a></li>
          </ul>
        </div>
    
        <div class="row flex-lg-nowrap">
          <div class="col mb-3">
            <div class="e-panel card">
              <div class="card-body">
                <div class="reglist">
     

   <!-- LIST -->
   <div class=col-md-12>
 
<!--         <legend>Registrados </legend>
 -->
        <mat-tab-group>
          <mat-tab label="Teachers"><app-crudteachers></app-crudteachers></mat-tab>
          <mat-tab label="Students"> <app-crudstudents></app-crudstudents></mat-tab>          
        </mat-tab-group>
      
  </div> 
 
 
  
 
 
 
 
 </div>
 </div>





 <app-footer></app-footer>
 