<app-header></app-header>
<section id="tabs" class="mt-">
  <div class="">
      <div class="row">
          <div class="col-md-12">
              <nav>
                  <div class="nav nav-tabs nav-fill mt-5" id="nav-tab" role="tablist">
                      <a class="nav-item nav-link primary" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">PROFESORES</a>
                      <a class="nav-item nav-link success" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">ALUNOS</a>                    
                  </div>
                </nav>
              
               
              <div class="tab-content" id="nav-tabContent">
                  <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                      <table class="table" cellspacing="0">
                        <app-crudteachers></app-crudteachers>
                      </table>
                  </div>
                  <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                      <table class="table" cellspacing="0">
                        <app-crudstudents></app-crudstudents>
                      </table>
                  </div>                 
              </div>
          </div>
      </div>
  </div>
</section>
<app-footer></app-footer>


 