.nav-item{
    margin: top 5px;
  
  }

 

#nav{
    color: #495057;
    background-color: transparent;
    border-color: transparent transparent #f3f3f3;
    border-bottom: 3px solid !important;
    font-size: 16px;
    font-weight: bold;
}

.nav-tabs {
    border-bottom: 1px solid #dee2e6;
}

.nav-link[_ngcontent-dyp-c49] {
    color: #495057;
    border-color: #dee2e6 #dee2e6 #dee2e6;
    margin-bottom: 5px;
}


.align-center {
    display: flex;
    align-items: right;
  }
  

.primary {
    color: #fff;
    background-color: #8d3ca8;
    border-color: #a040c5;
}


.success {
    color: #fff;
    background-color: #EA743A;
    border-color:  #EA743A;
}

/* nav nav-tabs nav-fill
nav-item nav-link  */

