<!--footer starts from here-->
<footer class="footer">
    <div class="container bottom_border">
    <div class="row">
    <div class=" col-sm-4 col-md col-sm-4  col-12 col">
    <h5 class="headin5_amrc col_white_amrc pt2">Sobre</h5>
    <!--headin5_amrc-->
    <p class="mb10">Toti é uma plataforma de ensino que forma refugiados e imigrantes através de um curso preparado para atender as demandas das empresas.

        Nosso propósito é inspirar a mudança na vida de refugiados, conectando educação, tecnologia e diversidade.</p>
    <p><i class="fa fa fa-envelope"></i>contato@totidiversidade.com.br </p>
    
    
    </div>
    
    
    
    
    
    <div class=" col-sm-4 col-md  col-12 col">
    <h5 class="headin5_amrc col_white_amrc pt2">Follow us</h5>
    <!--headin5_amrc ends here-->
    
    <ul class="footer_ul2_amrc">
    <li><a href="#"><i class="fab fa-twitter fleft padding-right"></i> </a><p>Instagram<a href="#">https://www.lipsum.com/</a></p></li>
    <li><a href="#"><i class="fab fa-twitter fleft padding-right"></i> </a><p>Facebook<a href="#">https://www.lipsum.com/</a></p></li>
    <li><a href="#"><i class="fab fa-twitter fleft padding-right"></i> </a><p>Lindekin<a href="#">https://www.lipsum.com/</a></p></li>
    </ul>
    <!--footer_ul2_amrc ends here-->
    </div>
    </div>
    </div>
    
    
    <div class="container">
    <ul class="foote_bottom_ul_amrc">
    <li><a href="http://webenlance.com">Home</a></li>
    <li><a href="http://webenlance.com">Cadastro</a></li>
    <li><a href="http://webenlance.com">Login</a></li>
    
    </ul>
    <!--foote_bottom_ul_amrc ends here-->
    <p class="text-center">Copyright @2021 | Designed With by <a href="#">TurmaBatata</a></p>
    
    <ul class="social_footer_ul">
    <li><a href="http://webenlance.com"><i class="fab fa-facebook-f"></i></a></li>
    <li><a href="http://webenlance.com"><i class="fab fa-twitter"></i></a></li>
    <li><a href="http://webenlance.com"><i class="fab fa-linkedin"></i></a></li>
    <li><a href="http://webenlance.com"><i class="fab fa-instagram"></i></a></li>
    </ul>
    <!--social_footer_ul ends here-->
    </div>
    
    </footer>
