<div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->
  
      <!-- Icon -->
      <div class="fadeIn first">
        <img class="mt-5 mb-5" src="assets/img/toti-logo.png" id="icon" alt="User Icon" />
      </div>
    
  
      <!-- Login Form -->
      <form #loginForm="ngForm"  (ngSubmit)="onLogin(loginForm)">
        <input type="text" id="login" class=" fadeIn second" name="login" placeholder="Correo electronico" [(ngModel)]="login.mail">
        <input type="text" id="password" class="fadeIn third" name="login" placeholder="Data de nascimento" [(ngModel)]="login.password">   
        <input type="submit" id="submit" name="submit" class="mt-3 fadeIn fourth" value="Entrar">
      </form>
  
      <!-- Remind Passowrd -->
      <div id="formFooter"> 
        <a class="underlineHover" href="/register">Cadastre-se?</a>
      </div>
  
    </div>
  </div>