<div id="menu" class="container">                                
    <form role="form" #crudForm="ngForm"  (ngSubmit)="onSubmit(crudForm)">

        <div class="form-group">
            <label for="Name">Nome</label>
            <input type="text" class="form-control " id="name" name="firstname" [(ngModel)]="crew.firstname">
            <span class="error "  aria-label="Error" title="{{ this.error.firstname }}" *ngIf="error.firstname">
                <i class="bi bi-exclamation-circle-fill "></i>
            </span>
        </div>

        <div class="form-group">
            <label for="Lastname">Sobrenome</label>
            <input type="text" class="form-control" id="lastname" name="lastname"  [(ngModel)]="crew.lastname">
            <span class="error "  aria-label="Error" title="{{ this.error.lastname }}" *ngIf="error.lastname">
                <i class="bi bi-exclamation-circle-fill "></i>
            </span>
        </div>
        
        <div class="form-group">
            <label for="Mail">Correo Electronico:</label>
            <input type="email" class="form-control" id="mail" name="mail"  [(ngModel)]="crew.mail" [email]="true">
        </div>

        <div class="form-group">
            <label for="Country">País:</label>
            <input type="text" class="form-control" id="country" name="country"  [(ngModel)]="crew.country">
            <span class="error "  aria-label="Error" title="{{ this.error.country }}" *ngIf="error.country">
                <i class="bi bi-exclamation-circle-fill "></i>
            </span>
        </div>

        <div class="form-group">
            <label for="Birth">Data do nascimento :</label>        
            <input type="date" class="form-control" id="birth" name="birth"  [(ngModel)]="crew.birth">
        </div>

        <hr>

            <label for="User_git">Foto de perfil</label>
            <div class="form-group avatar"> 
            <figure class="figure col-md-2 col-sm-3 col-xs-12"> 
            
                <img [src]="photoSelected || 'assets/img/profile.png'" class="img-fluid" alt="No image"
                    (click)="photoInput.click()" > 
            </figure>                    
            </div> 
      
            <div class="input-group mb-3">
                <input type="file" class="d-none" (change)="onPhotoSelected($event)" #photoInput id="urlphoto" name="urlphoto" [(ngModel)]="crew.urlphoto">                 
                <button id="upload" type="button" class="btn btn-primary "  (click)="photoInput.click()">Procurar</button>
            </div>
           
   
        <hr>  
        <div class="d-flex justify-content-center">
            <div class="row text-center">             
                <div class="col-8">                        
                    <button type="submit" class="btn btn-default btn-lg" >Enviar</button>
                </div> 
            </div>
        </div> 
        <div class="d-flex justify-content-center">
            <div class="row text-center">  
                <div *ngIf="successfully" class="row text-center mt-5">
                    <div class="alert alert-success" role="alert">
                        Usuário Registrado
                    </div>
                </div>
            </div>
        </div>


    </form>
    <br/>
</div>