<div id="menu" class="container">                                
    <form role="form" #crudForm="ngForm"  (ngSubmit)="onSubmit(crudForm)">
    
        <div class="form-group">
            <label for="Name">Nome</label>
            <input type="text" class="form-control " id="name" name="firstname" [(ngModel)]="crew.firstname">
            <span class="error "  aria-label="Error" title="{{ this.error.firstname }}" *ngIf="error.firstname">
                <i class="bi bi-exclamation-circle-fill "></i>
            </span>
        </div>

        <div class="form-group">
            <label for="Lastname">Sobrenome</label>
            <input type="text" class="form-control" id="lastname" name="lastname"  [(ngModel)]="crew.lastname">
        </div>
        
        <div class="form-group">
            <label for="Mail">Correo Electronico:</label>
            <input type="email" class="form-control" id="mail" name="mail"  [(ngModel)]="crew.mail" [email]="true">
   

        </div>

        <div class="form-group">
            <label for="Country">País:</label>
            <input type="text" class="form-control" id="country" name="country"  [(ngModel)]="crew.country">
        </div>

       <div class="form-group">
            <label for="Birth">Data do nascimento :</label>        
            <input type="date" class="form-control" id="birth" name="birth"  [(ngModel)]="crew.birth">
        </div>

        <div class="form-group">
            <label for="User_git">Foto</label>
            <input type="text" class="form-control" id="user_git" name="user_git" [(ngModel)]="crew.user_git">
        </div>
 
        <!-- <div class="form-group avatar"> 
          <figure class="figure col-md-2 col-sm-3 col-xs-12"> 
          <img class="img-rounded img-responsive" src="assets/img/profile.png" alt=""> 
          </figure>
           <div class="form-inline col-md-10 col-sm-9 col-xs-12"> 
            <input type="file" class="file-uploader pull-left"> 
            <button type="submit" class="btn btn-sm btn-default-alt pull-left">Update Image</button>
        </div> -->
         <!-- </div> -->
        <div class="row text-center ">
            <div class="col-6">                        
                <button type="submit" class="btn btn-default btn-lg" >Enviar</button>
            </div>
            <div class="col-6">   
                <a href="#" class="pull-right btn btn-primary">Cadastre-se</a>
            </div>            
        </div>
        <div *ngIf="successfully" class="row text-center ">
            <div class="alert alert-success" role="alert">
                Usuário Registrado
            </div>
        </div>


    </form>
    <br/>
</div>