body{
  margin-top:20px;
  background:#f8f8f8
}



.btn-success, .btn-block, .btn-default {
  color: #fff;
  background-color: #6C3D7B;
  border-color: #6C3D7B;
}

.btn-info {
  color: #fff;
  background-color: #EA743A;
  border-color:  #EA743A;
}


.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}


.btn-primary  {
  color: #fff;
  background-color: #EA743A;
  border-color:  #EA743A;
}
