body{
  margin-top:20px;
  background:#f8f8f8
}


.btn-block, .btn-default {
  color: #fff;
  background-color: #6C3D7B;
  border-color: #6C3D7B;
}

.btn-info {
  color: #fff;
  background-color: #EA743A;
  border-color:  #EA743A;
}


.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}


.btn-primary  {
  color: #fff;
  background-color: #EA743A;
  border-color:  #EA743A;
}


.btn-success:hover {
  color: #fff;
  background-color: #6C3D7B;
  border-color: #6C3D7B;
}

.btn-success:active {
  color: #fff;
  background-color: #6C3D7B;
  border-color: #6C3D7B;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;

}

.nav-link{
    color: #495057;
    border-color: #dee2e6 #dee2e6 #fff;
    margin-bottom: 5px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  margin-top: 1px;
}

.nav-item{
  margin-top: 4px;
}
