
<div class="container-fluid">
  <div class="row flex-lg-nowrap">
    <div class="col">
      <div class="row flex-lg-nowrap">
        <div class="col mt-5 mb-3">
          <div class="e-panel card">
            <div class="card-body">
              <div class="reglist">
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th>#</th>
                      <th>Nome</th>
                      <th>Sobrenome</th>
                      <th>Mail</th>
                      <th>Data do nascimento</th>
                      <th>País</th>
                      <th>Foto</th>
                      <th></th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let student of toti.students; let i = index">
                      <th scope="row">{{ i + 1 }}</th>
                      <td>{{ student.firstname }}</td>
                      <td>{{ student.lastname }}</td>
                      <td>{{ student.mail }}</td>
                      <td>{{ student.birth }}</td>
                      <td>{{ student.country }}</td>
                      <td>{{ student.urlphoto }}</td>       
                      <td>
                        <button type="button" class="btn btn-info" (click)="onEdit(i)">Editar</button>
                      </td>
                      <td>
                        <button type="button" class="btn btn-danger" (click)="onDelete(i)">Deletar</button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>             
            </div>
          </div>
        </div>
  
        <div class="col-12 col-lg-3 mt-5 mb-3">
          <div class="card">
            <div class="card-body">
              <div class="text-center px-xl-3">
                <button id="btn"class="btn btn-success btn-block" type="button" data-toggle="modal" data-target="#user-form-modal">Criar registro</button>
              </div>
              <hr class="my-3">
              <div class="e-navlist e-navlist--active-bold">
              </div>
              <hr class="my-3">
              <div>
                <div class="form-group">
                  <label>Procurar usuario:</label>
                  <div><input class="form-control w-100" type="text" placeholder="Nome" value=""></div>
                </div>
              </div>
              <hr class="my-3">
             
      <!-- Modal Create User -->
      <div class="modal fade" role="dialog" tabindex="-1" id="user-form-modal">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Criar Registro</h5>
              <button type="button" class="close" data-dismiss="modal">
                <span aria-hidden="true">×</span>
              </button>
            </div>
            <app-register-view [flag]="students" ></app-register-view>
          </div>
        </div>
      </div>

    </div>
  </div>
  </div>
  