
<div class="container-fluid">
  <div class="row flex-lg-nowrap">
    <div class="col">
      <div class="row flex-lg-nowrap">
        <div class="col mt-5 mb-3">
          <div class="e-panel card">
            <div class="card-body">
              <div class="reglist">
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th>#</th>
                      <th>Nome</th>
                      <th>Sobrenome</th>
                      <th>Mail</th>
                      <th>Data do nascimento</th>
                      <th>País</th>
                      <th>Foto</th>
                      <th></th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let student of toti.students; let i = index">
                      <th scope="row">{{ i + 1 }}</th>
                      <td>{{ student.firstname }}</td>
                      <td>{{ student.lastname }}</td>
                      <td>{{ student.mail }}</td>
                      <td>{{ student.birth }}</td>
                      <td>{{ student.country }}</td>
                      <td><img src="http://localhost:8081/{{ student.urlphoto }}" alt="thumbnail" class="img-thumbnail"></td>
                      <td>
                        <button type="button" class="btn btn-info" data-toggle="modal" data-target="#students-form-modal" (click)="onEdit(i, student)"><i class="bi bi-pencil-square"></i></button>                      </td>
                      <td>
                        <button type="button" class="btn btn-danger" (click)="onDelete(i, student)"><i class="bi bi-trash-fill"></i></button>                      
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>             
            </div>
          </div>
        </div>
  
        <div class="col-12 col-lg-3 mt-5 mb-3">
          <div class="card">
            <div class="card-body">
              <div class="text-center px-xl-3">
                <button id="btn"class="btn btn-success btn-block" type="button" data-toggle="modal" data-target="#students-form-modal">Criar Aluno</button>
              </div>
              <hr class="my-3">
              <div class="e-navlist e-navlist--active-bold">
              </div>
              <hr class="my-3">
              <div>
                <div class="form-group">
                  <label>Procurar usuario:</label>
                  <div><input class="form-control w-100" type="text" placeholder="Nome" value=""></div>
                </div>
              </div>
              <hr class="my-3">
             
      <!-- Modal Create User -->
      <div class="modal fade" role="dialog" tabindex="-1" id="students-form-modal">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Criar Registro
                
              </h5>
              <button type="button" class="close" data-dismiss="modal">
                <span aria-hidden="true">×</span>
              </button>
            </div>
            <div id="menu" class="container">                                
              <form role="form" #crudForm="ngForm"  (ngSubmit)="onSubmit(crudForm)">
                  <input hidden type="text" class="form-control" id="id" name="id" [(ngModel)]="crew.id">
                  <div class="form-group">
                      <label for="Name">Nome</label>
                      <input type="text" class="form-control" id="name" name="firstname" [(ngModel)]="crew.firstname">
                      <input type="text" class="form-control " id="name" name="firstname" [(ngModel)]="crew.firstname">
                      <span class="error "  aria-label="Error" title="{{ this.error.firstname }}" *ngIf="error.firstname">
                          <i class="bi bi-exclamation-circle-fill "></i>
                      </span>
                  </div>          
                  <div class="form-group">
                      <label for="Lastname">Sobrenome</label>
                      <input type="text" class="form-control" id="lastname" name="lastname"  [(ngModel)]="crew.lastname">
                      <span class="error "  aria-label="Error" title="{{ this.error.lastname }}" *ngIf="error.lastname">
                        <i class="bi bi-exclamation-circle-fill "></i>
                    </span>
                  </div>                  
                  <div class="form-group">
                      <label for="Mail">Correo Electronico:</label>
                      <input type="email" class="form-control" id="mail" name="mail"  [(ngModel)]="crew.mail">
                  </div>          
                  <div class="form-group">
                      <label for="Country">País:</label>
                      <input type="text" class="form-control" id="country" name="country"  [(ngModel)]="crew.country">
                      <span class="error "  aria-label="Error" title="{{ this.error.country }}" *ngIf="error.country">
                        <i class="bi bi-exclamation-circle-fill "></i>
                    </span>
                  </div>

                 <div class="form-group">
                      <label for="Birth">Data do nascimento :</label>        
                      <input type="date" class="form-control" id="birth" name="birth"  [(ngModel)]="crew.birth">
                  </div>

                  <div class="form-group">
                      <label for="User_git">Foto</label>
                      <input type="text" class="form-control" id="user_git" name="user_git" [(ngModel)]="crew.user_git">
                  </div>           
                  <!-- <div class="form-group avatar"> 
                    <figure class="figure col-md-2 col-sm-3 col-xs-12"> 
                    <img class="img-rounded img-responsive" src="assets/img/profile.png" alt=""> 
                    </figure>
                     <div class="form-inline col-md-10 col-sm-9 col-xs-12"> 
                      <input type="file" class="file-uploader pull-left"> 
                      <button type="submit" class="btn btn-sm btn-default-alt pull-left">Update Image</button>
                  </div> -->
                   <!-- </div> -->
                  <div class="row text-center ">
                      <div class="col-6">                        
                          <button type="submit" class="btn btn-default btn-lg" >Enviar</button>
                      </div> 
                      <div class="col-6">   
                        <a href="#" class="pull-right btn btn-primary  btn-lg" data-dismiss="modal" >Fechar</a>
                    </div>                              
                  </div>
                  <div *ngIf="successfully" class="row text-center ">
                      <div class="alert alert-success" role="alert">
                        Registro modificado!
                      </div>
                  </div>          
              </form>
              <br/>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>