#custom-search-form {
    margin:0;
    margin-top: 5px;
    padding: 0;
}

#custom-search-form .search-query {
    padding-right: 3px;
    padding-right: 4px \9;
    padding-left: 3px;
    padding-left: 4px \9;
    /* IE7-8 doesn't have border-radius, so don't indent the padding */

    margin-bottom: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

#custom-search-form button {
    border: 0;
    background: none;
    /** belows styles are working good */
    padding: 2px 5px;
    margin-top: 2px;
    position: relative;
    left: -28px;
    /* IE7-8 doesn't have border-radius, so don't indent the padding */
    margin-bottom: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.search-query:focus + button {
    z-index: 3;   
}


.btn-info {
    color: #fff;
    background-color: #EA743A;
    border-color:  #EA743A;
  }
  


.btn-success, .btn-default {
    color: #fff;
    background-color: #6C3D7B;
    border-color: #6C3D7B;
}


.btn-info, .btn-primary {
    color: #fff;
    background-color: #EA743A;
    border-color:  #EA743A;
  }

  
  img{
    max-width: 20%;
    max-height: 20%;
    
    display: block;
    margin: 0 auto;
    }

    .ml-2, .mx-2 {
        margin-left: .5rem;
        margin-right: .2rem;
      
      }
      
      .navbar-brand{
        margin-top:0px
      }
      
      .btn-success:not(:disabled):not(.disabled).active, 
      .btn-success:not(:disabled):not(.disabled):active, 
      .show.btn-success.dropdown-toggle {
        color: #fff;
        background-color: #6C3D7B;
        border-color: #6C3D7B;
      }
      
      .btn-success.focus, 
      .btn-success:focus {
        color: #fff;
        background-color: #8d3ca8;
        border-color: #a040c5;
        box-shadow: 0 0 0 0.2rem #8704b3;
      }



  img{
    max-width: 45%;
    max-height: 45%;
    
    display: block;
    margin: 0 auto;
    }

    .dashboard{
      font-size: 17px;
      font-weight: 700px;
      margin-bottom: 1px;
      margin-top: 10px;

    }
    .nav-tabs {
      border-bottom: 0px solid #dee2e6;
      margin-top: 5px;

    }
    
    .e-nav-tabs {
      margin-top: 5px;

    }
    