<app-header></app-header>

<nav class="navbar navbar-expand-lg navbar-light navbar-laravel">
    <div class="container">
        <a class="navbar-brand" href="#">
<!--             <img class="mt-5 mb-5" src="assets/img/toti-logo.png" id="icon" alt="User Icon" />
 -->
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Register</a>
                </li>
            </ul>

        </div> -->
    </div>
</nav>


    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-7">
                <div class="card-header">Cadastro</div>


                <ul class="nav nav-pills" >
                    <li class="" style="width:50%"><a class="btn btn-lg btn-default" data-toggle="tab" href="#home">Professor</a></li>                   
                    <li class="" style="width:48%"><a class=" btn btn-lg btn-default" data-toggle="tab" href="#menu1">Aluno</a></li>                
                 </ul>
                 <div class="tab-content">
                    <div id="home" class="tab-pane fade in active">
                      
                        <form action="#">
                        
                          <div class="form-group">
                            <label for="UserName">Nome e Sobrenome</label>
                            <input type="text" class="form-control" id="email">
                          </div>
                          
                          <div class="form-group">
                            <label for="email">Correo Electronico:</label>
                            <input type="email" class="form-control" id="email">
                          </div>
                        
                          <div class="form-group">
                            <label for="pwd">Senha:</label>
                            <input type="password" class="form-control" id="pwd">
                          </div>
                        
                          <div class="form-group">
                            <label for="pwd">Confirmar:</label>
                            <input type="password" class="form-control" id="pwd">
                          </div>
                        
                        
                        
                          <button type="submit" class="btn btn-default btn-lg">Entrar</button>
                          <br>
                          <button type="submit" class=" pull-right btn-link"><a href="www.google.com">Esqueceu sua senha?</a></button>
                        
                        </form>
                        <br/>
                        <a href="#" class="pull-right btn btn-block btn-danger">Você já se cadastrou ?   </a>
                
                
                
                    </div>
                
                    <div id="menu1" class="tab-pane fade">
                
                    <form action="#">
                    
                      <div class="form-group">
                        <label for="UserName">UserName</label>
                        <input type="text" class="form-control" id="email">
                      </div>
                      
                      <div class="form-group">
                        <label for="email">Email address:</label>
                        <input type="email" class="form-control" id="email">
                      </div>
                    
                      <div class="form-group">
                        <label for="pwd">Password:</label>
                        <input type="password" class="form-control" id="pwd">
                      </div>
                    
                      <div class="form-group">
                        <label for="pwd">Confirm Password:</label>
                        <input type="password" class="form-control" id="pwd">
                      </div>
                    
                    
                    
                      <button type="submit" class="btn btn-default">Entrar</button>
                    
                      <button type="submit" class=" pull-right btn-link"><a href="www.google.com">Esqueceu sua senha?</a></button>
                
                    </form>
                    <br/>
                    <a href="#" class="pull-right btn btn-block btn-success" > Already Register ?   </a>
                
                
                    </div>
                    
                   </div>
                   
                <div class="card">
                    <div class="card-header">Entrar</div>
                    <div class="card-body">
                        <form action="" method="">
                            <div class="form-group row">
                                <label for="email_address" class="col-md-4 col-form-label text-md-right">Correo electronico</label>
                                <div class="col-md-6">
                                    <input type="text" id="email_address" class="form-control" name="email-address" required autofocus>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="password" class="col-md-4 col-form-label text-md-right">Senha</label>
                                <div class="col-md-6">
                                    <input type="password" id="password" class="form-control" name="password" required>
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-md-6 offset-md-4">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" name="remember"> Lembre-me
                                        </label>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6 offset-md-4">
                                <button type="submit" class="btn btn-primary">
                                    Cadastre-se
                                </button>
                                <div>
                                  <a href="#" class="btn btn-link">
                                    Esqueceu sua senha?
                                </a>  
                                </div>
                                
                            </div>
                    
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
<app-footer></app-footer>

