<app-header2></app-header2>


    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-7">
                <!-- <div class="card-header">Cadastro</div> -->
                <div class="card mb-5">
                    <div class="card-header">Cadastro</div>
                        <div class="card-body">
                            <div class="d-flex justify-content-center">
                                <div class="row text-center ">
                                    <div class="col-6">
                                        <a class="btn btn-lg btn-default" data-toggle="tab" href="#menu">Professor</a>
                                    </div>
                                    <div class="col-6">
                                        <a class="btn btn-lg btn-default" data-toggle="tab" href="#menu1">Aluno</a>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-content">
                                <div id="menu" class="tab-pane fade in active">
                                    <app-register-view [flag]="teachers" ></app-register-view>
                                </div>
                                <div id="menu1" class="tab-pane fade">
                                    <app-register-view [flag]="students" ></app-register-view>
                                </div>
                            </div>

                            
                          
                        </div>
                </div>
            </div>
     
        </div>
    </div>
<app-footer></app-footer>

