
<div class="container-fluid">
  <div class="row flex-lg-nowrap">
    <div class="col">      
      <div class="e-tabs mb-0 px-3">
        <ul class="nav nav-tabs">
          <li class="dashboard"><a class="nav-link active" href="#">Dashboard Professores</a></li>
        </ul>
      </div>
      <div class="row flex-lg-nowrap">
        <div class="col mt-0 mb-3">
          <div class="e-panel card">
            <div class="card-body">
              <div class="reglist">
                <div class="search-hero">
                </div>
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th>#</th>
                      <th hidden>id</th>
                      <th>Nome</th>
                      <th>Sobrenome</th>
                      <th>Mail</th>
                      <th>Data do nascimento</th>
                      <th>País</th>
                      <th>Foto</th>
                      <th></th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let teacher of toti.teachers | filter:searchText ; let i = index" >
                      <th scope="row">{{ i + 1 }}</th>
                      <td hidden>{{ teacher.id }}</td>
                      <td>{{ teacher.firstname }}</td>
                      <td>{{ teacher.lastname }}</td>
                      <td>{{ teacher.mail }}</td>
                      <td>{{ teacher.birth }}</td>
                      <td>{{ teacher.country }}</td>
                      <td>
                      <div *ngIf="teacher.urlphoto"><img src="http://localhost:8081/{{ teacher.urlphoto }}" alt="thumbnail" class="img-thumbnail"></div>
                      <div *ngIf="!teacher.urlphoto"><img src="assets/img/profile.png" alt="thumbnail" class="img-thumbnail"></div></td>
  
              
                      <td>
                        <button type="button" class="btn btn-info"  data-toggle="modal" data-target="#teachers-form-modal" (click)="onEdit(i, teacher)"><i class="bi bi-pencil-square"></i></button>
                      </td>
                      <td>
                        <button type="button" class="btn btn-danger" (click)="onDelete(i, teacher)"><i class="bi bi-trash-fill"></i></button>                   
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>             
            </div>
          </div>
        </div>
  
        <div class="col-12 col-lg-3 mt-5 mb-3">
          <div class="card">
            <div class="card-body">
              <div class="text-center px-xl-3">
                <button class="btn btn-success btn-block" type="button" data-toggle="modal" data-target="#teachers-form-modal" (click)="onNew()" >Criar Registro</button>
              </div>
              <hr class="my-3">
              <div class="e-navlist e-navlist--active-bold">
              </div>
              <div class="row">
                <div class="col-lg-12">
<!--                   <label>Procurar usuario:</label>
 -->
                    <div class="input-group">
                        <!-- <input class="form-control py-2 border-right-0 border" type="search" value="Procurar registro" id="input">
                        <input
                        id="typeahead-focus"
                        type="text"
                        class="form-control"
                        [(ngModel)]="model"
                        [ngbTypeahead]="search"
                        (focus)="focus$.next($any($event).target.value)"
                        (click)="click$.next($any($event).target.value)"
                        #instance="ngbTypeahead"
                        placeholder="Procurar registro"
                      /> -->
                      <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="Procurar registro">
                        <!-- <span class="input-group-append">
                            <div class="input-group-text bg-transparent" (click)="onSearch(model)"><i class="bi bi-search"></i></div>
                        </span> -->
                    </div>
                </div>
              </div>
             
      <!-- Modal Create User -->
      <div  class="modal fade" role="dialog" tabindex="-1" id="teachers-form-modal">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Criar Registro</h5>
              <button type="button" class="close" data-dismiss="modal">
                <span aria-hidden="true">×</span>
              </button>
            </div>
            <div id="menu" class="container">                                
              <form role="form" #crudForm="ngForm"  (ngSubmit)="onSubmit(crudForm)" >
                  <input hidden type="text" class="form-control" id="id" name="id" [(ngModel)]="crew.id">
                  <div class="form-group">
                      <label for="Name">Nome</label>
                      <input type="text" class="form-control" id="name" name="firstname" [(ngModel)]="crew.firstname">
                      <span class="error "  aria-label="Error" title="{{ this.error.firstname }}" *ngIf="error.firstname">
                        <i class="bi bi-exclamation-circle-fill "></i>
                    </span>
                  </div>          
                  <div class="form-group">
                      <label for="Lastname">Sobrenome</label>
                      <input type="text" class="form-control" id="lastname" name="lastname"  [(ngModel)]="crew.lastname">
                      <span class="error "  aria-label="Error" title="{{ this.error.lastname }}" *ngIf="error.lastname">
                        <i class="bi bi-exclamation-circle-fill "></i>
                    </span>
                  </div>                  
                  <div class="form-group">
                      <label for="Mail">Correo Electronico</label>
                      <input type="email" class="form-control" id="mail" name="mail"  [(ngModel)]="crew.mail">
                  </div>          
                  <div class="form-group">
                      <label for="Country">País:</label>
                      <input type="text" class="form-control" id="country" name="country"  [(ngModel)]="crew.country">
                      <span class="error "  aria-label="Error" title="{{ this.error.country }}" *ngIf="error.country">
                        <i class="bi bi-exclamation-circle-fill "></i>
                    </span>
                  </div>
          
                 <div class="form-group">
                      <label for="Birth">Data do nascimento</label>        
                      <input type="date" class="form-control" id="birth" name="birth"  [(ngModel)]="crew.birth">
                  </div>
          
                  <!-- <div class="form-group">
                      <label for="User_git">Foto</label>
                      <input type="text" class="form-control" id="user_git" name="user_git" [(ngModel)]="crew.user_git">
                  </div> -->

                  <!-- <button type="button" class="btn btn-primary ml-2"  name="urlphoto" ngDefaultControl  [(ngModel)]="crew.urlphoto" (click)="fileInput.click()">
                    <i class="bi bi-camera-fill"></i>
                  </button>  
                    <input hidden  #fileInput type="file" accept="image/*"  (change)="onSelectFile($event)" >          -->

                    <!-- <button type="button"  class="btn btn-primary ml-2" aria-label="Select photos" (click)="fileInput.click()">
                      folder
                    </button>  
                      <input hidden (change)="onSelectFile($event)" #fileInput type="file" mat-icon-button name="first day"> -->
                   <label for="User_git">Foto de perfil</label>
                   <div class="form-group avatar"> 
                      <figure class="figure col-md-2 col-sm-3 col-xs-12"> 
                    
                        <img [src]="photoSelected || 'assets/img/profile.png'" class="img-fluid" alt="No image"
                            (click)="photoInput.click()" > 
                      </figure>
                     
                   </div> 
                   <!-- <div class="form-inline col-md-10 col-sm-9 col-xs-6"> 
                    <input type="file" class="custom-file-input" id="inputGroupFile01" enctype="multipart/form-data" (change)="onFileChanged($event)">
                    <label class="custom-file-label" for="inputGroupFile01">Escolher arquivo</label>
                  </div> -->


                  <div class="input-group mb-3">                  
                 

                    <input type="file" class="d-none" (change)="onPhotoSelected($event)" #photoInput id="urlphoto" name="urlphoto" [(ngModel)]="crew.urlphoto">
                 
    
                    <button class="btn btn-primary btn-block">Upload</button>

                  
                  </div>
               
                  <hr>


                  <div class="row text-center ">
                      <div class="col-6">                        
                          <button type="submit" class="btn btn-default btn-lg" >Enviar</button>
                      </div> 
                      <div class="col-6">   
                        <a href="#" class="pull-right btn btn-primary  btn-lg" data-dismiss="modal" >Fechar</a>
                    </div>                              
                  </div>
                  <div *ngIf="successfully" class="row text-center ">
                      <div class="alert alert-success" role="alert">
                        Registro modificado!
                      </div>
                  </div>          
              </form>
              <br/>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
  
  