
.btn-success, .btn-default {
    color: #fff;
    background-color: #6C3D7B;
    border-color: #6C3D7B;
}


.btn-info, .btn-primary {
    color: #fff;
    background-color: #EA743A;
    border-color:  #EA743A;
  }


  img{
    max-width: 20%;
    max-height: 20%;
    
    display: block;
    margin: 0 auto;
    }


    .btn-outline-secondary{
      color: #fff;
      background-color: #6C3D7B;
      border-color: #6C3D7B;
    }


.ml-2, .mx-2 {
  margin-left: .5rem;
  margin-right: .2rem;

}

.navbar-brand{
  margin-top:0px
}

.btn-success:not(:disabled):not(.disabled).active, 
.btn-success:not(:disabled):not(.disabled):active, 
.show.btn-success.dropdown-toggle {
  color: #fff;
  background-color: #6C3D7B;
  border-color: #6C3D7B;
}

.btn-success.focus, 
.btn-success:focus {
  color: #fff;
  background-color: #8d3ca8;
  border-color: #a040c5;
  box-shadow: 0 0 0 0.2rem #8704b3;
}

.dashboard{
    font-size: 17px;
    font-weight: 700px;
    margin-bottom: 1px;
    margin-top: 10px;
  }

.nav-tabs {
  border-bottom: 0px solid #dee2e6;
  margin-top: 5px;

}