
.btn-success, .btn-default {
    color: #fff;
    background-color: #6C3D7B;
    border-color: #6C3D7B;
}


.btn-info, .btn-primary {
    color: #fff;
    background-color: #EA743A;
    border-color:  #EA743A;
  }


  img{
    max-width: 40%;
    max-height: 40%;
    
    display: block;
    margin: 0 auto;
    }


    .btn-outline-secondary{
      color: #fff;
      background-color: #6C3D7B;
      border-color: #6C3D7B;
    }