
img{
    width:70px;
    height: 35px;
    margin: 0px;
}


.navbar-brand{

    margin-top:0px
}

.nav-link{
    color:  #6C3D7B;
}

.navbar-light .navbar-nav .nav-link {
/*  color: #6C3D7B;
 */ font-weight: 500px;
}

a {
    color: inherit;
    text-decoration: inherit;
}



a.active {
    color: #6c3d7b;
}