<nav class="navbar sticky-top  navbar-expand-lg navbar-light bg-light">
  <a class="nav-link" href="#"> <img class="mt-1 mb-1 ml-2" src="assets/img/toti-logo.png" id="icon" alt="User Icon"/><span class="sr-only">(current)</span></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class='menu'>
        
    

        <li class="nav-item"><a class="nav-link" href="/registro">CADASTRO</a></li>
        <li class="nav-item"><a class="nav-link" href="/admin">ADMINISTRAÇAO DE USUARIOS</a> 
          <!-- <ul class='submenu'>
            <li><a href="/admin/#nav-teachers">PROFESSORES</a></li>
            <li><a href="/admin/#nav-students">ALUNOS</a></li>
          </ul> -->
        </li>
        <li class="nav-item"><a class="nav-link" href="/cursos">ADMINISTRAÇAO DE CURSOS</a>
      </ul>
    </div>
</nav>

